<!DOCTYPE html>

<style>
    buttonBorder{
        border:solid 3px black;
    }
    #HeaderButtons {
        background-color: lightslategray; /* Green */
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 4px 0px 4px;
        transition-duration: 0.2s;
        cursor: pointer;
        border-radius: 4px;
        width: auto;
        box-shadow: 2px 2px 2px 2px black;
    }
        #HeaderButtons:hover {
            background-color: mediumpurple;
            transition-delay: 0.2s;
            box-shadow: 2px 2px 2px 2px mediumpurple;
        }
    #HeaderButtons2 {
        background-color: lightslategray; /* Green */
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 4px 0px 4px;
        transition-duration: 0.2s;
        cursor: pointer;
        border-radius: 4px;
        width: auto;
        box-shadow: 2px 2px 2px 2px black;
    }
    #HeaderButtons2:hover {
        background-color: mediumpurple;
        transition-delay: 0.2s;
        box-shadow: 2px 2px 2px 2px mediumpurple;
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MagicTheGatheringFinal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" style="white-space:nowrap" asp-area="" asp-controller="Home" asp-action="Index"><b>.NET Decks</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"> 
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1" style="font-size:12px; text-align:center; text-decoration:solid; padding:0px 2px 0px 30px;" >
                      
                            <li class="nav-item;" id="HeaderButtons2">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><b>Home</b></a>
                            </li>

                            <li class="nav-item;" id="HeaderButtons">
                                <a class="nav-link text-dark" asp-area="" asp-controller="NewUser" asp-action="Index"><b>New Player Guide</b></a>
                            </li>
                            <li class="nav-item" id="HeaderButtons2">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Newuser" asp-action="BasicMagicConcepts"><b>Learn To Play</b></a>
                            </li>
                            <li class="nav-item" id="HeaderButtons">
                                <a class="nav-link text-dark" asp-area="" asp-controller="NewUser" asp-action="QuizIntro"><b>Personality Color Quiz</b></a>
                            </li>
                            <li class="nav-item" id="HeaderButtons2">
                                <a class="nav-link text-dark" asp-area="" asp-controller="NewUser" asp-action="SelectColorIdentity"><b>Assisted Deck Builder</b></a>
                            </li>
                            <li class="nav-item" id="HeaderButtons">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Card" asp-action="ChooseDeck"><b>Build A Deck</b></a>
                        </li>
                            
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="font-size:20px">
    <a  style ="color:white;"href="https://www.linkedin.com/in/andonimoutousis/">Andoni Moutousis |</a>
    <a style ="color:white;" href="https://www.linkedin.com/in/scientifically-stephen/">Stephen Barr |</a>
    <a style ="color:white;" href="https://www.linkedin.com/in/curtisgodzisz/">Curtis Godzisz |</a>
    <a style ="color:white;"href="https://www.linkedin.com/in/robert-kress-/">Robbie Kress</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
