
<<<<<<< HEAD




=======
>>>>>>> 1cba5f8255528f12e4065c0ae9d5ae0e41c0e531
﻿<h1 style="text-align:center">How To Get Started In Commander</h1>
<form>
    <div>
        <br />
        <p style="font-family:'Times New Roman', Times, serif; font-size:25px">Commander is a format where players construct <b>100-Card decks</b>, with each card (except basic lands) appearing no more than once.  
        Players choose a <b>Legendary Creature</b>, or legal <b>Planeswalker</b>, to be their "Commander" which begins the game in the "Command Zone".  
        Each player's deck is based and build around their Commander's color(s).  Each player starts the game with 40 life points and will lose if:<br />
        <li style="font-size:20px"><b>The player's life points are reduced to 0.</b></li>
        <li style="font-size:20px"><b>The player goes to draw a card and can no longer draw cards meaning you have run out of cards in your deck.</b></li>
        <li style="font-size:20px"><b>The player recieves 21 or more direct points of damage from a single "Commander".</b></li>
        </p>
        <br />
        <br />
        <p style="text-align:center; font-size:30px; font-family:'Times New Roman', Times, serif">These Are Creature Cards.</p>
        <br />
        <img style="width:300px;height:400px;" src="http://static.starcitygames.com/sales/cardscans/MAG_ZEN/KorSkyfisher.jpg" align="left" />
        <img style="width:300px;height:400px" src="https://c1.scryfall.com/file/scryfall-cards/large/front/e/3/e340df19-b89a-403f-9736-4bd30b65de74.jpg?1581479761" align="right" />
        <p style="text-align: center; font-size:18px;">
            <b>Creatures cards ARE permanent cards that stay on the field and can only be played on your turn.</b><br />
            Creatures have Power and Toughness.
            Our Creature on the left, "Kor Skyfisher", has a power of "2" and a toughness of "3" while our creature on the right, "Erebos, Bleak-Hearted", has a power of "5" and a toughness of "6".
            When two creatues fight, <b>power deals damage to toughness</b>.
            This means that "Kor Skyfisher" deals 2 damage to the 6 toughness that "Erebos, Bleak-Hearted" has, and at the same time, "Erebos, Bleak-Hearted" deals 5 damage to the 3 toughness that "Kor Skyfisher" has.
            If a creature's toughness is reduced to 0 (or below) that creature dies and is sent to the graveyard.
            Since "Kor Skyfisher" now has 0 toughness it dies and is sent to the graveyard, however, "Erebos, Bleak-Hearted" still has 4 toughness left and lives to fight another turn.
            Power and toughness are restored back to full values at the start of each turn.
            <br />
            <br />
            <br />
        </p>

        <p style="text-align:center;font-size:30px; font-family:'Times New Roman', Times, serif">These Are Instant Cards</p> <br />

        <img style="width:300px;height:400px;" src="https://vignette.wikia.nocookie.net/mtg/images/c/c4/Shock_M12.jpg/revision/latest?cb=20140515032100" align="left" />
        <img style="width:300px;height:400px;" src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=386484&type=card" align="right" />
        <p style="text-align:center; font-size:20px;">
            <b>Instant cards are NOT permanent cards and can be played on either players turn.</b><br />
            Unlike <b>Creature</b> cards they do not remain on the field.
            Once you pay the mana cost, which is located at the top right of the card, you play the card and use its effect.  Once the effect is used the Instant is then sent to the graveyard.
            A good habit to get into is playing your <b>Instant</b> cards on your <b>opponent's turn.</b>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            
        </p>
        <p style="text-align:center;font-size:30px; font-family:'Times New Roman', Times, serif">These Are Sorcery Cards</p> <br />

        <img style="width:300px;height:400px;" src="https://www.mtgassist.com/card_scans/ORI/Talent-of-the-Telepath.png" align="left" />
        <img style="width:300px;height:400px;" src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=442927&type=card" align="right" />
        <p style="text-align: center; font-size:23px;">
            <b>Sorcery cards are NOT permanent cards and can only be played on your turn.</b><br />
            Unlike <b>Creature</b> cards they do not remain on the field.
            Once you pay the mana cost, which is located at the top right of the card, you play the card and use its effect.  Once the effect is used, the Sorcery is then sent to the graveyard.

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
          

        </p>

        <p style="text-align:center; font-size:30px; font-family:'Times New Roman', Times, serif">These Are Artifact Cards </p>
        <br />

        <img style="width:300px;height:400px;" src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=489439&type=card" align="left" />
        <img style="width:300px;height:400px;" src="https://i.pinimg.com/236x/a4/b2/21/a4b221e801f43be707e0e5ba8a84caba.jpg" align="right" />
        <p style="text-align: center; font-size:20px;">
            <b>Artifact cards ARE permanent cards and can only be played on your turn.</b><br />
            Like <b>Creature</b> cards they do remain on the field.
            Once you pay the mana cost, which is located at the top right of the card, you play the card and , if possible, you may use its effect.  Artifact cards may have effects that can be used either on your turn OR either players turn.
            A good habit to get into is playing <b>Artifact Effects</b> on your <b>opponent's turn (if possible).</b>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />


        </p>

        <p style="text-align:center; font-size:30px; font-family:'Times New Roman', Times, serif">These Are Enchantment Cards </p>
        <br />

        <img style="width:300px;height:400px;" src="https://www.mtgassist.com/card_scans/RTR/Search-the-City.png" align="left" />
        <img style="width:300px;height:400px;" src="https://deckmaster.info/images/cards/EMN/414458-hr.jpg" align="right" />
        <p style="text-align: center; font-size:20px;">
            <b>Enchantment cards ARE permanent cards and can only be played on your turn.</b><br />
            Like <b>Creature</b> cards and <b>Artifact</b> cards they do remain on the field.
            Once you pay the mana cost, which is located at the top right of the card, you play the card and , if possible, you may use its effect.  Enchantment cards have effects that can be used either on your turn OR either players turn.
            Enchantment cards tend to have more passive effects that will activate when you perform an action later in the turn/game.
            FOR INSTANCE, casting an Instant card or casting a Creature card may trigger your enchantments effect so always try to remember what will activate your Enchantments effect.
            <br />
            <br />
            <br />
            <br />

        </p>

        <p style="text-align:center; font-size:30px; font-family:'Times New Roman', Times, serif">This Is A Planeswalker Card </p>
        <br />

        <img style="width:300px;height:400px;" src="https://c1.scryfall.com/file/scryfall-cards/large/front/5/7/5798fdf0-d178-43d9-b821-8f3f654654b4.jpg?1591227292" align="left" />
        
        <p style="text-align: left; font-size:20px;">
            <b>Enchantment cards ARE permanent cards and can only be played on your turn.</b><br />
            Like <b>Creature</b> cards, <b>Artifact</b> cards, and <b>Enchantment</b> cards they do remain on the field.
            Once you pay the mana cost, which is located at the top right of the card, you play the card.  Planeswalker cards have <b>loyalty</b> counters in the bottom right of the card. <br />
            <p style="font-size:30px">
            <li style="text-align: left; font-size:20px;">The player that cast the Planeswalker can either add or subtract counters from this resource to use effects.</li>
            <li style="text-align: left; font-size:20px;">The player that cast the Planeswalker can only use 1 effect per his/her turn.</li>
            </p>
            
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
          
        </p>

<<<<<<< HEAD


=======
>>>>>>> 1cba5f8255528f12e4065c0ae9d5ae0e41c0e531
    </div>
</form>