<h1 style="text-align:center">Intro to Magic The Gathering</h1>
<form>
    <div>
        <p style="text-align:center; font-size:30px" >These are Creature cards.</p>
        <img  style="width:300px;height:400px;" src="http://static.starcitygames.com/sales/cardscans/MAG_ZEN/KorSkyfisher.jpg"align="left"/>
        <img style="width:300px;height:400px" src="https://c1.scryfall.com/file/scryfall-cards/large/front/e/3/e340df19-b89a-403f-9736-4bd30b65de74.jpg?1581479761"align="right" />
        <p style="text-align: center; font-size:20px;top:-100px">
            <b>Creatures have Power and Toughness.</b><br />
            Our Creature on the left, "Kor Skyfisher", has a power of "2" and a toughness of "3" while our creature on the right, "Erebos, Bleak-Hearted" has a power of "5" and a toughness of "6". 
            When two creatues fight, <b>power deals damage to toughness</b>.  
            This means that "Kor Skyfisher" deals 2 damage to "Erebos, Bleak-Hearted" and at the same time "Erebox, Bleak-Hearted" deals 5 damage to "Kor Skyfisher".
            If a creature's toughness is reduced to 0 (or below) the creature dies and is sent to the graveyard.
            <br />

        </p>
    </div>
</form>