<div style="display:flex; justify-content:space-between">
<a href="../NewUser/BasicMagicConcepts" class="btn btn-lg" style="border: solid black 1px;text-shadow: 1px 1px 2px pink;background-color: palegreen">Learn How To Play</a>
<a href="../NewUser/QuizIntro" class="btn btn-lg"style="border: solid black 1px;background-color: lightskyblue;text-shadow: 1px 1px 2px pink;">Take Our Personality Color Quiz</a>
<a href="../NewUser/SelectColorIdentity" class="btn btn-lg"style="        border: solid black 1px;background-color:plum;text-shadow: 1px 1px 2px pink;">Assisted Deck Builder</a>
<a href="../Card/ChooseDeck" class="btn btn-lg"style="border: solid black 1px;background-color: honeydew;text-shadow: 1px 1px 2px pink;">Build a deck on your own</a>
 </div>
<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
</style>
@*<a href="../NewUser/AssistedDeckBuilder" class="btn">Assisted Deck Builder</a>*@
@*<a href="" class="btn">Ready to build my own decks!</a>*@

<br />
<br />
<div style="color:white; word-break: break-word;text-shadow: 1px 1px 2px pink;">
    <p>Magic the Gathering is often described as a mix of Chess and Magic! </p>
    <p>The most popular format, Commander, gives you the opportunity to express yourself and lead</p>
    <p>a deck with a Commander that represents <b>you</b>! </p>
    <br />
    <p>The goal of Commander is to get your opponent to 0 hp before you lose (start at 40).</p>
    <p>We will help you build your first Commander deck! Click the Quiz button to get started!</p>
    <br />
    <p>If you want more of a run down on the rules, click the <b>Learn How To Play button!</b></p>
</div>


