<div style="display:flex; justify-content:space-between">
<a href="../NewUser/BasicMagicConcepts" class="btn btn-lg" style="border: solid black 1px; background-color:mistyrose">Learn How To Play</a>
<a href="../NewUser/QuizIntro" class="btn btn-lg"style="border: solid black 1px; background-color:aquamarine">Take Our Personality Color Quiz</a>
<a href="../NewUser/SelectColorIdentity" class="btn btn-lg"style="border: solid black 1px; background-color:lightgoldenrodyellow">Manually Select Two Colors</a>
<a href="../Card/ChooseCommander" class="btn btn-lg"style="border: solid black 1px; background-color:lavender">Build a deck on your own</a>
 </div>
@*<a href="../NewUser/AssistedDeckBuilder" class="btn">Assisted Deck Builder</a>*@
@*<a href="" class="btn">Ready to build my own decks!</a>*@

<br />
<br />
<p>Magic the Gathering is often described as a mix of Chess and Magic! </p>
<p>The most popular format, Commander, gives you the opportunity to express yourself and lead</p>
<p>a deck with a Commander that represents <b>you</b>! </p>
<br />
<p>The goal of Commander is to get your opponent to 0 hp before you lose (start at 40).</p>
<p>We will help you build your first Commander deck! Click the Quiz button to get started!</p>
<br />
<p>If you want more of a run down on the rules, click the <b>Learn How To Play button!</b></p>


<footer style="position:fixed; background-color:antiquewhite; width:100%; text-align:center; left:0; bottom:0; height:7.5%; font-size:30px "><b>.NET Decks: Making Master Magic Players!</b></footer>