<a href="../NewUser/BasicMagicConcepts" class="btn btn-lg">Learn How To Play</a>
<a href="../NewUser/Quiz" class="btn">Take Our Color Quiz</a>
<a href="../NewUser/AssistedDeckBuilder" class="btn">Assisted Deck Builder</a>