<a href="../NewUser/BasicMagicConcepts" class="btn btn-lg">Learn How To Play</a>
<a href="../NewUser/QuizIntro" class="btn">Take Our Personality Color Quiz</a>
<a href="../NewUser/AssistedDeckBuilder" class="btn">Assisted Deck Builder</a>
<a href="" class="btn">Ready to build my own decks!</a>