<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
    h1 {
        position: sticky;
        top: 0px;
        background-color: gray;
        padding-bottom: 2px;
        margin-bottom: 15px;
        border-bottom: solid grey 3px;
        text-align: center;
        text-shadow: 1px 1px 2px white;
        border-radius: 15px;
    }
    button {
        border: solid black 1px;
        text-shadow: 1px 1px 2px pink;
        background-color: mistyrose;

    }
    button2 {
        border: solid black 1px;
        text-shadow: 1px 1px 2px pink;
        background-color: mediumpurple;
    }
    form {
        color: white;
        text-shadow: 1px 1px 2px pink;
        background-color: darkslateblue;
        border-radius: 15px;
    }
    div {
        margin: 10px 0px 0px 10px
    }
    
    
</style>

<h1>What Magic Colors define you?</h1>

<br />
<a href="../NewUser/StartQuiz"class="button" style="border: solid black 1px;text-shadow: 1px 1px 2px pink; background-color:mistyrose">Start Quiz</a>
<br />
<br />
<form>
    <div>
<p>There are a lot of different playstyles, and finding one that speaks to you is important!</p><br />
<p>Do you want to outwit your enemies with tricky schemes, or simply defeat your opponents with a swarm of squirrels?</p><br />
<p>We can help you find the colors and commander perfect for you! Click on the link above to get started with a fun personality quiz!</p><br />
        </div>
</form>
<br />
<a href="../NewUser" class="button2">Return to New player Menu</a>