<h1>What Magic Colors define you?</h1>
<br />
<a href="../NewUser/StartQuiz"class="btn btn-lg" style="border: solid black 1px; background-color:mistyrose">Start Quiz</a>
<br />
<br />

<p>There are a lot of different playstyles, and finding one that speaks to you is important!</p><br />
<p>Do you want to outwit your enemies with tricky schemes, or simply defeat your opponents with a swarm of squirrels?</p><br />
<p>We can help you find the colors and commander perfect for you! Click on the link above to get started with a fun personality quiz!</p><br />

<br />
<a href="../NewUser" class="btn">Return to New player Menu</a>