@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



    <div style="position:sticky;text-shadow: 1px 1px 2px white; top:0px; background-color:gray; padding-bottom:2px; margin-bottom: 15px; border-bottom: solid grey 3px; text-align:center;"><h1>Search A Card</h1></div>
<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<form action="/Card/CardList" method="get">
    <input type="text" name="cardName" placeholder="Search for card"/>
    <input type="submit" />
</form>