
@{
    ViewData["Title"] = "ChooseDeck";
}

@model List<string>

<h1>ChooseDeck</h1>

<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<table style="color:white;">
    <tr>
        <th>Deck Name</th>
        <th>Deck Selector</th>
    </tr>
    <tr>
        <form action="/card/GetDeckData" method="post">
            @for (int d = 0; d < Model.Count; d++)
            {

                <td>@Model[d]</td>
                <td><input type="checkbox" name="DeckName" value="@Model[d]" /></td>
            }
            <input type="submit" value="Select this deck" />
        </form>
    </tr>
    <form action="/card/ChooseCommander" method="post">
        <input type="submit" value="Create a new deck" />
    </form>
</table>