
@{
    ViewData["Title"] = "ChooseDeck";
}

@model List<string>

    <div style="position:sticky;text-shadow: 1px 1px 2px white; top:0px; background-color:gray; padding-bottom:2px; margin-bottom: 15px; border-bottom: solid grey 3px; text-align:center; border-radius:15px;"><h1>Choose Deck</h1></div>

<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<table style="color:white;">
    <tr>
        <th>Deck Name</th>
        <th>Deck Selector</th>
    </tr>

    @for (int d = 0; d < Model.Count; d++)
    {
        <tr>

            <td>@Model[d]</td>
            <td class="btn btn-secondary">
                <a href="/card/GetDeckData?DeckName=@Model[d]">Select This Deck!</a>
            </td>
            <td class="btn btn-danger">
                <a href="/card/DeleteDeck?DeckName=@Model[d]">Delete Deck</a>
            </td>

        </tr>
    }

        <form action="/card/ChooseCommander" method="post">
            <input type="submit" value="Create a new deck" />
        </form>
    </table>