
@{
    ViewData["Title"] = "ChooseDeck";
}

@model CombinedDeckViewModel

<h1>ChooseDeck</h1>
<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
</style>
<form action="/card/DeckList" method="post">
    @for (int d = 0; d < Model.deckObject.Count; d++)
    {
        @Model.deckObject[d].DeckName
        <input type="checkbox" name="DeckName" value="@Model.deckObject[d].DeckName" />
    }
    <input type="submit" value="Select this deck" />
</form>