
@{
    ViewData["Title"] = "ChooseDeck";
}

@model List<string>

   ><h1>Choose Deck</h1>

<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
    #selectDeckButton {
        background-color: rgba(17, 220, 39, 0.69);
        /* Green */
        border: none;
        color: white;
        padding: 8px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 10px 0px 10px 0px;
        transition-duration: 0.2s;
        cursor: pointer;
        border-radius: 4px;
        width: 45%;
        box-shadow: 5px 5px 8px mediumpurple;
    }

    #selectDeckButton:hover {
        background-color: mediumpurple;
        transition-delay: 0.2s;
        box-shadow: 2px 2px 2px 2px mediumpurple;
    }
    #deleteDeckButton {
        background-color: rgba(243, 155, 59, 0.69);
        /* Green */
        border: none;
        color: white;
        padding: 8px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 10px 0px 10px 0px;
        transition-duration: 0.2s;
        cursor: pointer;
        border-radius: 4px;
        width: 45%;
        box-shadow: 5px 5px 8px mediumpurple;
    }
        #deleteDeckButton:hover {
            background-color: mediumpurple;
            transition-delay: 0.2s;
            box-shadow: 2px 2px 2px 2px mediumpurple;
        }
    h1 {
        position: sticky;
        text-shadow: 1px 1px 2px white;
        top: 0px;
        background-color: gray;
        padding-bottom: 2px;
        margin-bottom: 15px;
        border-bottom: solid grey 3px;
        text-align: center;
        border-radius: 15px;
        color: black;
        font-size: 40px
    }

    #deckstyle {
        background-color: rgba(59, 11, 82, 0.48);
        text-shadow: 1px 1px 2px pink;
        border-radius: 15px;
        color:white;
        font-size:30px;
    }
</style>

<table>
    <tr>
        <th>Deck Name</th>
        <th>Deck Actions</th>
    </tr>

    @for (int d = 0; d < Model.Count; d++)
    {

<tr>

    <td id="deckstyle">@Model[d]</td>
    <td id="selectDeckButton">
        <a href="/card/GetDeckData?DeckName=@Model[d]">Select This Deck!</a>
    </td>
    <td id="selectDeckButton">
        <a href="/card/NewDeckName?DeckName=@Model[d]">Rename Deck!</a>
    </td>
    <td id="deleteDeckButton">
        <a href="/card/DeleteDeck?DeckName=@Model[d]">Delete Deck</a>
    </td>

</tr>

    }

        <form action="/card/ChooseCommander" method="post">
            <input type="submit" value="Create a new deck" />
        </form>
    </table>