
@{
    ViewData["Title"] = "CommanderList";
}


@model List<CardsTable>

    
        <h1>Choose Your Commander<br />Commander List!</h1>

    <style>
        body {
            background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
            background-size: cover;
            background-attachment: fixed;
        }
        h1 {
            position: sticky;
            text-shadow: 1px 1px 2px white;
            top: 0px;
            background-color: gray;
            padding-bottom: 2px;
            margin-bottom: 15px;
            border-bottom: solid grey 3px;
            text-align: center;
            border-radius: 15px;
            color: black;
            font-size: 40px
        }
   
    </style>

    <div style="display:flex; flex-direction:column">
        @for (int i = 0; i < Model.Count; i++)
        {
            <img style="width:17.5%; height:17.5%" src="@Model[i].CardArtUrl" />
            <a style="margin-bottom:30px; text-decoration:underline; color:white;" href="/Card/SaveCommander?cId=@Model[i].Id"> Make @Model[i].Name your commander!</a>

        }
    </div>