
@{
    ViewData["Title"] = "DeckName";
}

<h1>DeckName</h1>
<br />
<br />

<form action="SaveDeckName" method="post">
    <input type="text" name="deckName" placeholder="What's your deck name?" />
    <input type="submit" value="Start Building Your Deck!" />
</form>