<h1 style="color:white; text-align:left; position:fixed; left:200px; top:185px; font-family:'Times New Roman', Times, serif; "><b>Welcome To .NET DECKS</b></h1>


<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
</style>

