<html>
<head>
    <title>
        Welcome To .NET DECKS
    </title>
</head>
<body>
    <br />
    <marquee>
        <b><p style="color:white;font-size:60px; margin-bottom:100px;">Welcome To .NET Decks</p></b>

    </marquee>
</body>
</html>
<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
</style>


<img src="~/Images/NETDecks.png" width="40" style="display:flex;justify-content:center; flex:1; width:1280px; height:720px ;border-radius:3%; border:groove 5px darkslateblue;">