<h1 style="color:white; text-align:center;">Welcome To .NET DECKS</h1>


<style>
    body {
        background-image: url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-attachment:fixed;
    }
</style>
   
