<html>
<head>
    <title>
        Welcome To .NET DECKS
    </title>
</head>
<body>
     <br />
<marquee>
    <b><p style="color:white;font-size:60px; margin-bottom:100px;">Welcome To .NET Decks</p></b>
    
</marquee>
</body>
</html>
<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
</style>

    <img src="https://i.imgur.com/wYKEzmj.jpg" style="border-radius:3%;" />

