
@{
    ViewData["Title"] = "AssistedDeckTaskListViewModel";
}

@model AssistedDeckTaskListViewModel

<h1>AssistedDeckTaskListViewModel</h1>

<form>
    <table>
        <tr>
            <th>Task Name</th>
        </tr>

        @if (Model.addDraw == true)
        {
            <tr>Add Draw</tr>
        }
        else
        {
            <tr hidden>Add Draw</tr>
        }
        @if (Model.addRamp == true)
        {
            <tr>Add Ramp</tr>
        }
        else
        {
            <tr hidden>Add Ramp</tr>
        }
        @if (Model.addSingleRemoval == true)
        {
            <tr>Add Single target removal</tr>
        }
        else
        {
            <tr hidden>Add Single target removal</tr>
        }
        @if (Model.addMultiRemoval == true)
        {
            <tr>Add Multi target removal</tr>
        }
        else
        {
            <tr hidden>Add Multi target removal</tr>
        }
        @if (Model.addCreatures == true)
        {
            <tr>Add Creatures</tr>
        }
        else
        {
            <tr hidden>Add Creatures</tr>
        }
       <tr>
           <td>
               <a href="" class="btn">View Current Deck</a>
           </td>
        
       </tr>

    </table>
</form>
