@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model string
    <style>
        body {
            background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
            background-size: cover;
            background-attachment: fixed;
        }
        #input {
            background-color: rgba(90, 83, 89, 0.69);
            /* Green */
            border: none;
            color: white;
            padding: 8px 24px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 34px;
            margin: 10px 0px 10px 0px;
            transition-duration: 0.2s;
            cursor: pointer;
            border-radius: 4px;
            width: 25%;
            box-shadow: 5px 5px 8px mediumpurple;
        }

            #input:hover {
                background-color: mediumpurple;
                transition-delay: 0.2s;
                box-shadow: 2px 2px 2px 2px mediumpurple;
    </style>

@if (Model != null)
{
    <p style="color:white;">@Model</p>
}
    <form action="../AssistedDeckBuilder/UpdateBudget" method="post" style="color:white;">
        <p>What is the most you are willing to pay for a card? Please enter only numbers</p>
        <input type="text" name="budget" placeholder="$0.00"/>
        <input type="submit" value="Enter Amount" id="input" />

    </form>
