

@model List<CardsTable>


@for (int i = 0; i < 5; i++)
{
    <img src="@Model[i].CardArtUrl" />
    <a href="../AssistedDeckBuilder/FindSingleRemoval?id=@Model[i].Id"> Click for this to be your commander!</a>
}