

@model List<CardsTable>

<h1>Choose your Commander!</h1>
<br />
<p>Your commander is the leader of your army. They dictate the color of your deck and what cards you should put in.</p>
<p>Think of them as your best asset. They're always available to you and can be how you win the game!</p>

@for (int i = 0; i < 5; i++)
{
    <img style="width:20%; height:20%"  src="@Model[i].CardArtUrl" />
    <a href="../AssistedDeckBuilder/FindSingleRemoval?id=@Model[i].Id"> Make @Model[i].Name your commander!</a>
}