@model List<CardsTable>
    <style>
        body {
            background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
@for (int i = 0; i < Model.Count; i++)
{
    <img style="width:20%;height:20%;"src="@Model[i].CardArtUrl" />

    @*@if (Model[i].Search.("https:"))
        {
            <img style="width:17.5%; height:17.5%" src="@Model[i]" />
        }*@
}   

<a class="btn btn-lg" style="border: solid black 1px; background-color:mediumpurple" href="../AssisstedDeckBuilder/Index">Return to Menu</a>