
@model AssistedDeckViewModel


@{
    ViewData["Title"] = "AssistedDeckTaskListViewModel";
}


<h1 style="color:white;">Assisted Deck Task Manager</h1>
<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<table>
    <tr>
        <th style="color:white;">Task Name</th>
    </tr>
    <tr>
        @if (Model.DeckStatus.Substring(0, 1) == "f")
        {

            <td>
                <a href="../AssistedDeckBuilder/FindDraw" class="btn-danger"style="border:solid white 3px; padding-bottom:5px" >Add Draw</a>
            </td>

        }
        else
        {

            <td class="btn-success"style="border:solid white 3px;">Card Draw Looking Good!</td>

        }
    </tr>

<tr>
    @if (Model.DeckStatus.Substring(1, 1) == "f")
    {

        <td>
            <a href="../AssistedDeckBuilder/FindRamp" class="btn-danger"style="border:solid white 3px;">Add Ramp</a>
        </td>

    }
    else
    {

        <td class="btn-success"style="border:solid white 3px;">Ready to keep up with opponents with your ramp!</td>

    }
</tr>

<tr>
    @if (Model.DeckStatus.Substring(2, 1) == "f")
    {

        <td>
            <a href="../AssistedDeckBuilder/FindSingleRemoval" class="btn-danger"style="border:solid white 3px;">Add Single Target Removal</a>
        </td>

    }
    else
    {

        <td class="btn-success"style="border:solid white 3px;">Ready to answer your opponents threats!</td>

    }
</tr>
   

<tr>
    @if (Model.DeckStatus.Substring(3, 1) == "f")
    {

        <td>
            <a href="../AssistedDeckBuilder/FindMultiRemoval" class="btn-danger"style="border:solid white 3px;">Add Board Clears</a>
        </td>

    }
    else
    {

        <td class="btn-success;" style="border:solid white 3px;">Ready to reset the board!</td>

    }
</tr>
   
    <tr>
        @if (Model.DeckStatus.Substring(4, 1) == "f")
        {

            <td>
                <a href="../AssistedDeckBuilder/StartCreatures" class="btn-danger" style="border: solid white 3px;">Add Creatures</a>
            </td>
        }
        else
        {

    <td class="btn-success" style="border:solid white 3px; color:white;">Your Army is Ready!</td>

        }

    </tr>

    <tr>
        @if (Model.DeckStatus == "ttttt")
        {
            <td>
                <a href="../AssistedDeckBuilder/DeckList" class="btn" style="color:white;">View Finished Deck</a>

            </td>
        }
        else
        {
            <td>
                <a href="../AssistedDeckBuilder/DeckList" class="btn" style="color:white;">View Current Deck</a>
            </td>
        }
    </tr>

</table>


