
@model CardSearchObject

    <table class="table">
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Description</th>
            <th>Mana</th>
        </tr>

            @for (int i = 0; i < Model.data.Count(); i++)
            {
                <tr>
                <td>@(i+1).</td>
                <td>@Model.data[i].name</td>
                <td>@Model.data[i].oracle_text</td>
                <td>@Model.data[i].mana_cost</td>

                    </tr>
            }


    </table>
