
@model AssistedDeckViewModel


@{
    ViewData["Title"] = "AssistedDeckTaskListViewModel";
}


<h1 style="color:white;">Assisted Deck Task Manager</h1>
<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
        background-size: cover;
        background-attachment: fixed;
    }

    #input {
        background-color: red;
        /* Green */
        border: none;
        color: white;
        padding: 8px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 34px;
        margin: 10px 0px 10px 0px;
        transition-duration: 0.2s;
        cursor: pointer;
        border-radius: 4px;
        width: 50%;
        box-shadow: 5px 5px 8px mediumpurple;
    }

        #input:hover {
            background-color: mediumpurple;
            transition-delay: 0.2s;
            box-shadow: 2px 2px 2px 2px mediumpurple;
        }

    #input2 {
        background-color: green;
        /* Green */
        border: none;
        color: white;
        padding: 8px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 34px;
        margin: 10px 0px 10px 0px;
        transition-duration: 0.2s;
        cursor: pointer;
        border-radius: 4px;
        width: 50%;
        box-shadow: 5px 5px 8px mediumpurple;
    }

    #input:hover {
        background-color: mediumpurple;
        transition-delay: 0.2s;
        box-shadow: 2px 2px 2px 2px mediumpurple;
    }

    #input3 {
        background-color: lightskyblue;
        /* Green */
        border: none;
        color: white;
        padding: 8px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 34px;
        margin: 10px 0px 10px 0px;
        transition-duration: 0.2s;
        cursor: pointer;
        border-radius: 4px;
        width: 50%;
        box-shadow: 5px 5px 8px mediumpurple;
    }

    #input:hover {
        background-color: mediumpurple;
        transition-delay: 0.2s;
        box-shadow: 2px 2px 2px 2px mediumpurple;
    }
</style>

<table>
    <tr>
        <th style="color:white;">Task Name</th>
    </tr>
    <tr>
        @if (Model.DeckStatus.Substring(0, 1) == "f")
        {

            <td>
                <a href="../AssistedDeckBuilder/FindDraw" id="input">Add Draw</a>
            </td>

        }
        else
        {

            <td id="input2">Card Draw Looking Good!</td>

        }
    </tr>

    <tr>
        @if (Model.DeckStatus.Substring(1, 1) == "f")
        {

            <td>
                <a href="../AssistedDeckBuilder/FindRamp" id="input">Add Ramp</a>
            </td>

        }
        else
        {

            <td id="input2">Ready to keep up with opponents with your ramp!</td>

        }
    </tr>

    <tr>
        @if (Model.DeckStatus.Substring(2, 1) == "f")
        {

            <td>
                <a href="../AssistedDeckBuilder/FindSingleRemoval" id="input">Add Single Target Removal</a>
            </td>

        }
        else
        {

            <td id="input2">Ready to answer your opponents threats!</td>

        }
    </tr>


    <tr>
        @if (Model.DeckStatus.Substring(3, 1) == "f")
        {

            <td>
                <a href="../AssistedDeckBuilder/FindMultiRemoval" id="input">Add Board Clears</a>
            </td>

        }
        else
        {

            <td id="input2">Ready to reset the board!</td>

        }
    </tr>

    <tr>
        @if (Model.DeckStatus.Substring(4, 1) == "f")
        {

            <td>
                <a href="../AssistedDeckBuilder/StartCreatures" id="input">Add Creatures</a>
            </td>
        }
        else
        {

            <td id="input2">Your Army is Ready!</td>

        }

    </tr>

    <tr>
        @if (Model.DeckStatus == "ttttt")
        {
            <td>
                <a href="../AssistedDeckBuilder/DeckList" id="input">View Finished Deck</a>

            </td>
        }
        else
        {
            <td>
                <a href="../AssistedDeckBuilder/DeckList" id="input3">View Current Deck</a>
            </td>
        }
    </tr>

</table>


